/*header & video background styles*/
.top-background, #main-video {
    position: static;
    left:0;
    z-index: -1;
    width: 100%;
}

#fancy-header {
  z-index: 1;
  float: left;
  margin-left: 50px;
  font-family: 'berkshire swash', cursive; 
  position: fixed;
  top: 0.5rem;
  background-color: transparent;
  color: red;
  padding: 0px;

}
/*header links*/
.nav{
    text-align: right;
    position: absolute;
    top: 0.25rem;
    right: 1rem;
    z-index:2;
    margin:1.5rem;
    padding-top: 0.5rem;
    background-color: rgba(183, 183, 183, 0.2);
    color: black;
    border-radius: 5px;
  }
  li{
    display: inline;
    margin: 1rem;
    margin-left: -0.45rem;
    margin-top: 0.95rem;
    list-style: none;
  }

  /*main styles*/
h1 {
  font-size: 2.5rem;
  color:white;
  line-height: -0.5rem;
}
h2{
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
}
p {
  font-size:1.1em;
}
body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  margin: -7px;
}

ul {
  line-height: 0.5em;
  font-size: 1.1em;
  margin-left: -2em;
}

/*do not delete this time!*/
.about-me, .background{
  background-color: grey;
  border-radius: 5px;
  width: 66%;
  margin: 0 auto;
  margin-top: 5rem;

}
.about-me{
  padding: 1rem;
}


.me-image {
  width: 30%;
  position: static;
  margin: 4em auto 4em auto;
  display: block;
  border: 3px solid grey;
  border-radius: 10%;
  box-shadow: 5px 10px 4px white;
}
.wrapper{
display: grid;
grid-template-columns: 50% 50%;
}
.wrapper > div{
  padding: 1em;
}
.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 40px;
}
#projects{
  margin-top: 180px;
}
#contact{
  display:flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
}
#contact a{
  padding: 3px;
}
#contact a:hover {
  color: gray;
  border-radius: 5%;
  padding: 3px;
}
/*Responsive design; mobile, ipad*/
@media screen and (max-width: 800px){
  #fancy-header{
    position: absolute;
    float: left;
  }
  h1{
    position: static;
    padding-right: 3rem;
    font-size: 2rem;
    color: red;
  }
  h3{
    position: absolute;
    top: -100px;
  }
  .me-image{
    width: 50%;
  }

  #navbar{
    text-align: center;
    position: static;
    top: 4em;
    margin-left: 50%;
    margin: 1em;
  }
  li{
    display: inline;
    list-style: none;
  }
  ul{
    line-height: 1em;
  }
  #contact {
   margin: 1rem;
   display: flex;
   flex-direction: column-reverse;
  }

  #contact a{
    font-size: 1.5rem;
    margin: 0.66rem;
    background-color: olivedrab;
  }
  #contact a:hover {
    color: black;
  }
}
@media screen and (max-width: 800px){
  h1{
    font-size: 1.75rem;
  }
}