body{
    margin: 0;
    padding:0;
    text-align: center;
    background-color: black;
    background-image: url('umbrella-deepp.jpg');
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    z-index: -1;
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
}

.contact-title{
    margin-top: 6.25rem;
    color: white;
    text-transform: uppercase;
    transition: all 3s ease-out;
}
.contact-title h1{
    font-size: 2rem;
    line-height: 0.625rem;
}
.contact-title h2{
    font-size: 1rem;
}
form{
    margin-top: 3rem;
    transition: all 3s ease-in-out;
}
.form-control{
    width: 37.5rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
}
input{
    height: 2.8rem;
}
form .submit{
    background-color: rgba(109, 147, 107, 0.5);
    border: none;
    font-size: 1.25rem;
}
form .submit:hover{
    background-color:olivedrab;
    cursor: pointer;
}